#text-examples-container {
    position: relative;
    padding: 5px;
    height: calc(100% - 12px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    text-rendering: geometricPrecision;
    border: 1px solid red;
}

/* unscii */
.tsct-unscii-8 {
    font: 8px "unscii-8";
}

.tsct-unscii-16 {
    font: 16px "unscii-16";
}

.tsct-unscii-16-large {
    font: 48px "unscii-16";
}