#text-examples-container {
    position: relative;
    padding: 5px;
    height: calc(100% - 12px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    text-rendering: geometricPrecision;
    border: 1px solid red;
}

/* unscii */
.tsct-unscii-8 {
    font: 8px "unscii-8";
}

.tsct-unscii-16 {
    font: 16px "unscii-16";
}

.tsct-unscii-16-large {
    font: 48px "unscii-16";
}

/* terminus */
.terminus-12 {
    font: 12px "Terminus"
}

.terminus-14 {
    font: 14px "Terminus"
}

.terminus-16 {
    font: 16px "Terminus"
}

.terminus-18 {
    font: 18px "Terminus"
}

.terminus-20 {
    font: 20px "Terminus"
}

.terminus-22 {
    font: 22px "Terminus"
}

.terminus-24 {
    font: 24px "Terminus"
}

.terminus-28 {
    font: 28px "Terminus"
}

.terminus-32 {
    font: 32px "Terminus"
}

.terminus-48 {
    font: 48px "Terminus"
}