#text-examples-container {
    overflow: hidden;
    position: relative;
    padding: 5px;
    height: calc(100% - 12px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    text-rendering: geometricPrecision;
    border: 1px solid red;
}

.tsct-font-size-indicator {
    white-space: nowrap;
}

/* unscii */
.tsct-unscii-8 {
    font: 8px "unscii-8";
}

.tsct-unscii-16 {
    font: 16px "unscii-16";
}

.tsct-unscii-16-large {
    font: 48px "unscii-16";
}

/* PPMondwest */
.tsct-PPMondwest-25 {
    font: 25px "PPMondwest-25";
    line-height: 20px;
}

.tsct-PPMondwest-50 {
    font: 50px "PPMondwest-25";
    line-height: 40px;
}

.tsct-PPMondwest-75 {
    font: 75px "PPMondwest-25";
    line-height: 55px;
}

/* PPNeueBit */
.tsct-PPNeueBit-28 {
    font: 28px "PPNeueBit-28";
    line-height: 20px;
}

.tsct-PPNeueBit-56 {
    font: 56px "PPNeueBit-28";
    line-height: 45px;
}

.tsct-PPNeueBit-84 {
    font: 84px "PPNeueBit-28";
    line-height: 55px;
}
