.sample-creator-container {
    height: 100%;
}

.scc-prompt-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.scc-prompt-field {
    display: block;
    width: 500px;
    height: 70px;
    margin-bottom: 10px;
}

.scc-preview-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.scc-preview {
    width: calc(100% - 22px);
}