.sample-creator-container {
    height: 100%;
}

.scc-prompt-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.scc-prompt-field {
    display: block;
    width: 500px;
    height: 70px;
    margin-bottom: 10px;
    padding: 5px 10px;
    border: 1px solid #FFF;
    border-radius: 0;
    background: #333;
    font: 16px "unscii-16";
    color: #FFF;
    resize: none;
    scrollbar-width: thin;
    scrollbar-color: #555 #333;
}

.scc-prompt-field:focus {
    background: #555;
    scrollbar-color: #333 #555;
    outline: none;
}

.scc-preview-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.scc-preview {
    width: calc(100% - 22px);
    padding: 5px 10px;
    background: none;
    border: 1px solid #FFF;
    font: 16px "unscii-16";
    color: #FFF;
}

.scc-preview:focus {
    outline: none;
}