#text-examples-container {
    overflow: hidden;
    position: relative;
    padding: 5px;
    height: calc(100% - 12px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    text-rendering: geometricPrecision;
    border: 1px solid red;
}

.tsct-font-size-indicator {
    white-space: nowrap;
}

/* unscii */
.tsct-unscii-8 {
    font: 8px "unscii-8";
    color: red;
}

.tsct-unscii-16 {
    font: 16px "unscii-16";
    color: green;
}

.tsct-unscii-16-large {
    font: 48px "unscii-16";
    color: blue;
}

/* Tiny5 */
.tsct-Tiny5-8 {
    font: 8px "Tiny5-8";
    color: red;
}

.tsct-Tiny5-16 {
    font: 16px "Tiny5-8";
    color: green;
}

.tsct-Tiny5-24 {
    font: 24px "Tiny5-8";
    line-height: 20px;
    color: blue;
}

.tsct-Tiny5-32 {
    font: 32px "Tiny5-8";
    line-height: 30px;
    color: red;
}

.tsct-Tiny5-40 {
    font: 40px "Tiny5-8";
    line-height: 34px;
}