#time-container {
    position: relative;
    height: 70px;
    text-align: center;
    z-index: 10;
}

#tc-clock {
    position: absolute;
    transform: translateX(-50%);
}

#tcc-divider {
    position: relative;
    margin: 0 2px;
}

#tc-time-pointer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#tc-time-pointer.tctp-top {
    bottom: 100%;
}

#tc-time-pointer.tctp-bottom {
    top: 100%;
}