#app-container {
    position: relative;
    overflow: hidden;
    background: #000 url(/images/mountains-night.jpg);
    /* background: #000; */
}

#app-container.full-screen {
    grid-template-rows: 1fr;
}