@font-face {
  font-family: "Terminus";
  font-style: normal;
  font-weight: normal;
  src: url(/terminus.ttf);
}

@font-face {
  font-family: "unscii-8";
  font-style: normal;
  font-weight: normal;
  src: url(/unscii-8.woff) format(woff);
}

@font-face {
  font-family: "unscii-16";
  font-style: normal;
  font-weight: normal;
  src: url(/unscii-16.woff) format(woff);
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Terminus";
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  background: #000;
  color: #FFF;
}

#root {
  width: 100%;
  height: 100%;
}